<ng-template [ngIf]="util.isPrimitive(value)">
  {{ value }}
</ng-template>

<ng-template [ngIf]="typeValue === 'object'">
  <span class="tjson-brackets">{{ '{' }}</span>
  <tjson-key-value
    *ngFor="let item of value | toIterable; let last = last"
    [key]="item.key"
    [value]="item.value"
    [isLast]="last">
  </tjson-key-value>
  <span class="tjson-brackets">{{ '}' }}</span>
</ng-template>

<ng-template [ngIf]="typeValue === 'array'">
  <span class="tjson-brackets">[</span>
  <div>array</div>
  <span class="tjson-brackets">]</span>
</ng-template>
